.attribution {
    margin: 1.75rem 0;
    font-size: .75rem;
    opacity: .2;
    text-align: center;
}

.attribution a {
    text-decoration: none;
    color: var(--very-dark-blue);
}

@media screen and (min-width: 1440px) {
    .attribution {
        margin-top: 5rem;
    }
    
}