.section__new {
    background-color: var(--very-dark-blue);
    color: var(--off-white);
    margin-top: 3rem;
    padding: 1rem;
}

.section__new h3 {
    color: var(--soft-orange);
    font-size: 1.5rem;
}

.section__new h4 {
    margin-bottom: .25rem;
}

.section__new div {
    margin: 1rem 0;
    line-height: 1.5rem;
}

.section__new div:nth-child(-n+3):after {
    width: 100%;
    height: .063rem;
    background-color: var(--off-white);
    content: '';
    position: relative;
    bottom: 0;
    display: inline-block;
    opacity: .3;
    margin-top: 4rem;
}

.section__new p {
    color: var(--grayish-blue);
    margin-top: .25rem;
}

@media screen and (min-width: 1440px) {

    .section__new {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .section__new div {
        flex-basis: 1;
    }
    
}
