@import url(../styles/header.css);
@import url(../styles/menu.css);
@import url(../styles/section__main.css);
@import url(../styles/section__new.css);
@import url(../styles/section__popular.css);
@import url(../styles/attribuition.css);
@import url(../styles/grid.css);

:root {
    /*primary colors*/
    --soft-orange: hsl(35, 77%, 62%);
    --soft-red: hsl(5, 85%, 63%);

    /*neutral colors*/
    --off-white: hsl(36, 100%, 99%);
    --grayish-blue: hsl(233, 8%, 79%);
    --dark-grayish-blue: hsl(236, 13%, 42%);
    --very-dark-blue: hsl(240, 100%, 5%);

    /*font*/
    --main-font: "Inter";

    /*font weights*/
    --regular: 400;
    --bold: 700;
    --extra-bold: 800;
}

* {
    border: 0;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--off-white);
    color: var(--very-dark-blue);
    font-size: 15px;
    font-weight: var(--regular);
    font-family: var(--main-font), serif;
    margin: 0 1rem;
}